@model TableViewModel

@{
    ViewData["Title"] = "Edite";
}

<h1 class="text-center mb-5 text-info">تعديل الطاولة</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">

            <form method="post" asp-controller="Tables" asp-action="SaveEdit" asp-route-Id="@Model.Id" class="bg-white shadow-lg rounded p-5">

               <div asp-validation-summary="All" class="text-danger mb-3"></div>

                <div class="form-group">
                    <label asp-for="TableNumber" class="form-label">رقم الطاولة</label>
                    <input asp-for="TableNumber" class="form-control form-control-lg" placeholder="أدخل رقم الطاولة" />
                    <span asp-validation-for="TableNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Capacity" class="form-label">عدد المقاعد</label>
                    <input asp-for="Capacity" class="form-control form-control-lg" placeholder="أدخل عدد المقاعد" />
                    <span asp-validation-for="Capacity" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Status" class="form-label">حالة الطاولة</label>
                    <input asp-for="Status" class="form-control form-control-lg" placeholder="أدخل حالة الطاولة" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>

                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsOccupied" />
                        هل الطاولة مشغولة؟
                    </label>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Save" class="btn btn-primary btn-lg btn-block mt-4" />
                </div>

            </form>
        </div>
    </div>

    <!-- زر العودة إلى القائمة -->
    <div class="text-center mt-4">
        <a asp-action="Index" class="btn btn-outline-secondary btn-sm">العودة إلى القائمة</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
